.TTT{
	color: red;
	font-size: 60px;
	font-weight: bold;
	text-decoration: none;
}

#box{
	width: 100px;
	height: 100px;
	background: paleturquoise;
}

.p{
	width: 100px;
	height: 100px;
	margin-top: 10px;
	border-radius: 50px;
	background: plum;
}
